<div>
  <ul class="nav nav-tabs">
    <li class="nav-item"><a href="tweets" class="nav-link">tweet</a></li>
    <li class="nav-item"><a href="users" class="nav-link active">user</a></li>
  </ul>
</div>
<!-- Main Content -->
<div>
  <h1>User Management</h1>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <td>#</td>
        <td>name</td>
        <td>Tweets</td>
        <td>Follower</td>
        <td>Following</td>
        <td>Like</td>
        <td>#</td>
      </tr>
    </thead>
    <tbody>
      {{#each users }}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.Tweets.length}}</td>
        <td>{{this.Followers.length}}</td>
        <td>{{this.Followings.length}}</td>
        <td>{{this.Likes.length}}</td>
        <td>
          <form action="/admin/users/{{this.id}}?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>