<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="mt-3 text-center d-flex">
          <img class="rounded mx-auto my-auto" src="{{profile.avatar}}" width="240px" height="240px">
        </div>
        <h2 class="text-center mt-3">{{profile.name}}</h2>
      </div>
      <div class="col-md-10 mx-auto mt-3">
        <p class="text-justify mt-3" style="font-size: 1.3rem;">{{profile.introduction}}</p>
        <hr />
      </div>
      <div class="col-md-10 mx-auto mt-3">
        <h4>Tweets <a href="/users/{{profile.id}}/tweets" class="badge badge-secondary">{{tweetNums}}</a></h4>
        <h4>Following <a href="/users/{{profile.id}}/followings" class="badge badge-secondary">{{followings}}</a>
        </h4>
        <h4>Follower <a href="/users/{{profile.id}}/followers" class="badge badge-secondary">{{followers}}</a>
        </h4>
        <h4>Like <a href="/users/{{profile.id}}/likes" class="badge badge-secondary">{{likedTweets}}</a></h4>
        <div class="mt-3">
          {{#ifCond isFollowed "self"}}
          <a href="/users/{{../profile.id}}/edit" class="btn btn-primary btn-lg btn-block">Edit Profile</a>
          {{/ifCond}}
          {{#ifCond isFollowed "unfollow"}}
          <form action="/followships/{{../profile.id}}?_method=DELETE" method="POST" style="display: contents;">
            <button type="submit" class="btn btn-danger">Unfollow</button></form>
          {{/ifCond}}
          {{#ifCond isFollowed "follow"}}
          <form action="/followships" method="POST" style="display: contents;">
            <input type="hidden" name="id" value="{{../profile.id}}">
            <button type="submit" class="btn btn-primary">Follow</button></form>
          {{/ifCond}}
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-8">
    <h3 class="mt-3" style="color:teal">Follower</h3>
    <div class="row">
      {{#each profile.Followers}}
      <div class="card col-md-5 shadow-sm mx-2 mt-3 ">
        <div class="row">
          <div class="col-5 text-center d-flex">
            <img class="rounded mx-auto my-auto" src="{{this.avatar}}" width="100px" height="100px">
          </div>
          <div class="col-7 card-body">
            <a href="/users/{{this.id}}/tweets">
              <h5 class="card-text">@{{this.name}}</h5>
            </a>
            <p class="card-text">{{this.introduction}}</p>
            <div class="row">
              {{#if this.isFollowed }}
              <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;"><button
                  type="submit" class="btn btn-danger">Unfollow</button></form>
              {{else}}
              <form action="/followships" method="POST" style="display: contents;">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit" class="btn btn-primary">Follow</button></form>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>