<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="mt-3 text-center d-flex">
          <img class="rounded mx-auto my-auto" src="{{tweet.User.avatar}}" width="240px" height="240px">
        </div>
        <h2 class="text-center mt-3">{{tweet.User.name}}</h2>
      </div>
      <div class="col-md-10 mx-auto mt-3">
        <p class="text-justify mt-3" style="font-size: 1.3rem;">{{tweet.User.introduction}}</p>
        <hr />
      </div>
      <div class="col-md-10 mx-auto mt-3">
        <h4>Tweets <a href="/users/{{tweet.User.id}}/tweets" class="badge badge-secondary">{{tweetNums}}</a></h4>
        <h4>Following <a href="/users/{{tweet.User.id}}/followings" class="badge badge-secondary">{{followings}}</a>
        </h4>
        <h4>Follower <a href="/users/{{tweet.User.id}}/followers" class="badge badge-secondary">{{followers}}</a>
        </h4>
        <h4>Like <a href="/users/{{tweet.User.id}}/likes" class="badge badge-secondary">{{likedTweets}}</a></h4>
        <div class="mt-3">
          {{#ifCond isFollowed "self"}}
          <a href="/users/{{../tweet.User.id}}/edit" class="btn btn-primary btn-lg btn-block">Edit Profile</a>
          {{/ifCond}}
          {{#ifCond isFollowed "unfollow"}}
          <form action="/followships/{{../tweet.User.id}}?_method=DELETE" method="POST" style="display: contents;">
            <button type="submit" class="btn btn-danger">Unfollow</button></form>
          {{/ifCond}}
          {{#ifCond isFollowed "follow"}}
          <form action="/followships" method="POST" style="display: contents;">
            <input type="hidden" name="id" value="{{../tweet.User.id}}">
            <button type="submit" class="btn btn-primary">Follow</button></form>
          {{/ifCond}}
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h3 class="mt-3">Tweets</h3>
    <div class="card col-md-10 shadow-sm mx-auto mt-3">
      <div class="row">
        <div class="col-4 text-center d-flex">
          <img class="rounded mx-auto my-auto" src="{{../tweet.User.avatar}}" width="120px" height="120px" src="#">
        </div>
        <div class="col-8 card-body">
          <a href="/users/{{tweet.User.id}}/tweets">
            <h5 class="card-text">@{{tweet.User.name}}, {{createdAt}}</h5>
          </a>
          <p class="card-text">{{tweet.description}}</p>
          <h5>
            <a class="mr-3" href="/tweets/{{tweet.id}}/replies">Reply ({{replyTweets}})</a>
            {{#if isLiked }}
            <form action="/tweets/{{tweet.id}}/unlike?_method=DELETE" method="POST" style="display: contents;"><button
                type="submit" class="btn btn-danger">Unlike({{likeNums}})</button></form>
            {{else}}
            <form action="/tweets/{{tweet.id}}/like" method="POST" style="display: contents;"><button type="submit"
                class="btn btn-secondary">like({{likeNums}})</button></form>
            {{/if}}
          </h5>
        </div>
      </div>
    </div>
    <h3 class="mt-3">Replies</h3>
    <div class="row">
      {{#each replies}}
      <div class="card col-md-10 shadow-sm mx-auto mt-3">
        <div class="row">
          <div class="col-4 text-center d-flex mt-3 mb-3">
            <img class="rounded mx-auto my-auto" src="{{../this.User.avatar}}" width="120px" height="120px" src="#">
          </div>
          <div class="col-8 card-body">
            <a href="/users/{{this.User.id}}">
              <h5 class="card-text">@{{this.User.name}}, {{this.createdAt}}</h5>
            </a>
            <p class="card-text">{{this.comment}}</p>
          </div>
        </div>
      </div>
      {{/each}}

      <div class="col-md-10 mx-auto mt-5">
        <form action="/tweets/{{tweet.id}}/replies" method="POST">
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" style="border: none;"
              name="comment"></textarea>
          </div>
          <button type="submit" class="btn btn-primary float-right mt-3">Reply</button>

        </form>
      </div>

    </div>
  </div>
</div>